{% extends 'base.html' %}

{% block title %}Sale Order List{% endblock %}

{% block content %}
<h1>Sale Order List</h1>
<table id="sale-order-table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Sale Date</th>
            <th>Status</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <!-- Sale orders will be dynamically added here -->
    </tbody>
</table>

<style>
    #sale-order-table {
        width: 80%;
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 0 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #sale-order-table th {
        border: 1px solid #ddd;
        height: 20px;
        padding: 20px;
        text-align: center;
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

    #sale-order-table td{
        text-align: center;
    }

    #sale-order-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #sale-order-table tr:hover {
        background-color: #D6EEEE;
    }
</style>

<script>
    fetch('/inventory/list_sale_orders/')
    .then(response => response.json())
    .then(saleOrders => {
        const tableBody = document.querySelector('#sale-order-table tbody');
        saleOrders.forEach(order => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${order.product_name}</td>
                <td>${order.quantity}</td>
                <td>${order.total_price}</td>
                <td>${order.sale_date}</td>
                <td>${order.status}</td>
                <td>${order.notes}</td>
            `;
            tableBody.appendChild(row);
        });
    })
    .catch(error => console.error('Error:', error));
</script>
{% endblock %}
