{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<h1>Product List</h1>
<table id="product-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock Quantity</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        <!-- Products will be dynamically added here -->
    </tbody>
</table>

<style>
    #product-table {
        width: 80%;
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 0 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #product-table th {
        border: 1px solid #ddd;
        height: 20px;
        padding: 20px;
        text-align: center;
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

    #product-table td{
        text-align: center;
    }

    #product-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #product-table tr:hover {
        background-color: #D6EEEE;
    }
</style>

<script>
    fetch('/inventory/list_products/')
    .then(response => response.json())
    .then(products => {
        const tableBody = document.querySelector('#product-table tbody');
        products.forEach(product => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${product.name}</td>
                <td>${product.description}</td>
                <td>${product.category}</td>
                <td>${product.price}</td>
                <td>${product.stock_quantity}</td>
                <td>${product.supplier}</td>
            `;
            tableBody.appendChild(row);
        });
    })
    .catch(error => console.error('Error:', error));
</script>
{% endblock %}
